
.center{
    top: 300px;
    width: 600px;
    margin: 0 auto;
}

.had{
    width: 100%;
    height: 50px;
    color: white;
    background-color: cyan;
}

.div1 {
    display: inline; 
    float: left;
}